In [1]:
import pandas as pd

#### Q1. Pandas version

In [2]:
pd.__version__

'2.2.2'

#### Getting the data

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-10-01 21:44:38--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv.2’

laptops.csv.2       100%[===================>] 291.58K  1.87MB/s    in 0.2s

2024-10-01 21:44:39 (1.87 MB/s) - ‘laptops.csv.2’ saved [298573/298573]

In [4]:
df = pd.read_csv("./laptops.csv")

#### Q2. Records count

In [5]:
df.shape

(2160, 12)

#### Q3. Laptop brands

In [6]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [7]:
df['Brand'].apply(lambda x: x.lower()).nunique()

27

In [8]:
# Ensuring there is no ambigous names for same brand
df['Brand'].value_counts()

Brand
Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Primux                8
Deep Gaming           8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: count, dtype: int64

#### Q4. Missing values

In [9]:
df.isna().any()

Laptop          False
Status          False
Brand           False
Model           False
CPU             False
RAM             False
Storage         False
Storage type     True
GPU              True
Screen           True
Touch           False
Final Price     False
dtype: bool

#### Q5. Maximum final price

In [10]:
df[df['Brand'] == "Dell"]['Final Price'].max()

3936.0

#### Q6. Median value of Screen

In [11]:
df['Screen'].median()

15.6

In [12]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [13]:
df['Screen'].fillna(df['Screen'].mode()).median()

15.6

#### Q7. Sum of weights

In [14]:
innjoo = df[df['Brand'] == 'Innjoo']

In [15]:
innjoo.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02

In [16]:
X = innjoo[['RAM', 'Storage', 'Screen']].to_numpy()

In [17]:
import numpy as np

In [18]:
XTX = X.T.dot(X)

In [19]:
XTX_inverse = np.linalg.inv(XTX)

In [20]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [21]:
w = (XTX_inverse @ X.T) @ y

In [22]:
w.sum()

91.29988062995815